@charset "UTF-8";
/* ========================================
    リセットcss
========================================= */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 100%;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  font-family: "Roboto";
}

html {
  font-size: 0.9vw;
}

.top-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

.left {
  width: 82vw;
}

.l-header {
  width: auto;
  height: 217px;
  background-color: #fff7ef;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: 0;
}

.l-header__logo {
  width: 325px;
  height: 84px;
  font-size: 3rem;
  font-weight: bold;
  color: #707070;
  margin-left: 4%;
}

.c-search {
  margin-right: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.c-search input {
  width: 380px;
  height: 44px;
  margin-right: 14px;
  border: 1px solid #707070;
  border-radius: 10px;
}

.c-search__btn {
  width: 130px;
  height: 46px;
  background-color: #F2EDE9;
  border: 1px solid #707070;
  border-radius: 10px;
  text-align: center;
}

.c-search__btn a {
  text-decoration: none;
  color: #707070;
  font-size: 1rem;
  line-height: 46px;
  display: inline-block;
}

.c-search input {
  background: url(../img/search2.svg) no-repeat 10px;
  background-color: #fff;
  background-size: 6%;
}

.main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  padding: 120px 0 134px 0;
}

.thumbnail {
  position: relative;
}

.thumbnail img {
  width: 82vw;
  vertical-align: bottom;
}

.thumbnail p {
  position: absolute;
  top: 45%;
  left: 6%;
  color: #ffffffff;
  font-size: 2rem;
  letter-spacing: 0.5rem;
}

.article-wrap {
  width: 625px;
  font-family: "M+ 1m";
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.article-wrap--takeout {
  background-image: url(../img/three-burgers-on-brown-wooden-tray-between-white-ceramic-1841108.png);
  background-size: cover;
  width: 40%;
  margin: 0 5% 0 7%;
}

.article-wrap--eatin {
  width: 40%;
  background-image: url(../img/component.png);
  background-size: cover;
}

.article-wrap__heading {
  color: #EAEAEA;
  font-size: 3.75rem;
  font-weight: bold;
  letter-spacing: 3px;
  margin: 20px 0 0 19px;
  position: relative;
}

.article-wrap__heading::before {
  content: "";
  position: absolute;
  border: 1.5px solid #fff;
  bottom: -35px;
  left: 0;
  width: 60px;
}

.article-wrap__text {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #fff;
  opacity: 0.8;
  color: #3c2a10;
  height: auto;
  margin: 0 20px 20px 20px;
  padding: 20px 45px 34px 19px;
}

.article-wrap__text-heading {
  font-size: 1.5rem;
  margin-bottom: 28px;
}

.article-wrap__text-sentence {
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.5rem;
}

.article-wrap2 {
  margin-top: 35vw;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.map-wrap {
  width: 82vw;
  height: 649px;
  font-family: "M+ 1m";
  position: relative;
}

.map-wrap__bg {
  background-image: url(../img/googlemap.png);
  background-repeat: no-repeat;
  opacity: 0.9;
  background-size: cover;
  background-color: #000;
  position: absolute;
  top: 0;
  bottom: 0;
}

.map-wrap__text {
  width: 60%;
  height: auto;
  background-color: #000000;
  opacity: 0.6;
}

.map-wrap__text__area {
  width: 80%;
  margin: 0 auto;
  height: 649px;
  overflow: hidden;
}

.map-wrap__text__heading {
  color: white;
  font-size: 2.25rem;
  font-weight: bold;
  font-family: M1m;
  padding-top: 90px;
}

.map-wrap__text__sentence {
  color: white;
  margin-top: 100px;
  font-size: 1rem;
  line-height: 2rem;
  font-weight: normal;
}

.l-footer {
  background-image: url(../img/rayer.png);
  text-align: center;
  vertical-align: middle;
  height: 150px;
  color: #ffffffff;
  font-family: "M+ 1m";
}

.l-footer-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 43px;
  font-size: 1.25rem;
  font-weight: normal;
  line-height: 1;
}

.l-footer__info {
  padding-right: 10px;
}

.l-footer__history {
  border-left: 1px solid #ffffffff;
  padding-left: 10px;
}

.copyright {
  margin-top: 39px;
  font-size: 14px;
  font-weight: normal;
  line-height: 1;
}

.l-sidemenu {
  background-color: #F2EDE9;
  width: 18vw;
  min-height: 100%;
}

.l-sidemenu__heading {
  font-size: 2rem;
  color: #707070;
  margin: 86px 0 87px 50px;
}

.l-sidemenu__title {
  font-size: 1.5rem;
  color: #707070;
  font-family: "M+1m";
  margin: 0 0 40px 49px;
}

.l-sidemenu__list {
  font-size: 1.2rem;
  font-weight: normal;
  font-family: "M+1m";
  color: #707070;
  list-style: none;
  margin: 0 0 30px 66px;
  line-height: 1;
}

.l-sidemenu__list:last-child {
  margin-bottom: 56px;
}
@media screen and (min-width: 841px) {
  .zdo_drawer_menu {
    display: none;
  }
}
@media screen and (max-width: 840px) {
  html {
    font-size: 1.5vw;
  }
  .l-sidemenu {
    display: none;
  }
  .left {
    width: 100%;
  }
  .l-header {
    display: block;
    text-align: center;
    padding-top: 40px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin-right: 0;
  }
  .l-header__logo {
    font-size: 3.5rem;
    margin: auto;
  }
  .c-search {
    margin-right: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .c-search input {
    width: 380px;
    height: 44px;
    margin-right: 14px;
  }
  .c-search__btn {
    width: 130px;
    height: 46px;
  }
  .c-search__btn a {
    font-size: 1.5rem;
    line-height: 46px;
  }
  .thumbnail img {
    width: 100%;
  }
  .main-content {
    padding: 50px 0 20px 0;
  }
  .article-wrap2 {
    margin-top: 250px;
  }
  .article-wrap--takeout {
    width: 45%;
    margin: 0 4% 0 3%;
  }
  .article-wrap--eatin {
    width: 45%;
  }
  .article-wrap__heading {
    font-size: 2.5rem;
    font-weight: bold;
    letter-spacing: 1px;
    margin: 20px 0 0 19px;
    position: relative;
  }
  .article-wrap__heading::before {
    content: "";
    position: absolute;
    border: 1.5px solid #fff;
    bottom: -25px;
    left: 0;
    width: 40px;
  }
  .article-wrap__text {
    margin: 0 20px 20px 20px;
    padding: 20px 30px 15px 19px;
    line-height: 3;
  }
  .article-wrap__text-heading {
    font-size: 1.3rem;
    margin-bottom: 20px;
    line-height: 1;
  }
  .article-wrap__text-sentence {
    font-size: 0.9rem;
  }
  .map-wrap {
    width: 100%;
  }
  .map-wrap__text {
    width: 100%;
    height: auto;
  }
  .map-wrap__text__area {
    width: 90%;
    margin: 0 auto;
    height: 649px;
    overflow: hidden;
  }
  .map-wrap__text__heading {
    color: white;
    font-size: 2.25rem;
    padding-top: 90px;
  }
  .map-wrap__text__sentence {
    color: white;
    margin-top: 100px;
    font-size: 1rem;
    line-height: 3rem;
  }
  .map-wrap {
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */