.c-btn {
    width: 30%;
    height: 10vh;
    line-height: 10vh;
    background-color: #DED8D3;
    border-radius: 20px;
    text-align: center;
    border: 1px solid #707070;
    & a {
        display: inline-block;
        color: #707070;
        width: 100%;
        height: auto;
    }
}