// フッターここから
.l-footer {
    background-image: url(../img/rayer.png);
    text-align: center;
    vertical-align: middle;
    height: 150px;
    color: #ffffffff;
    font-family: "M+ 1m";
    &-wrap {
        display: flex;
        justify-content: center;
        padding-top: 43px;
        font-size: 1.25rem;
        font-weight: normal;
        line-height: 1;
    }
    &__info {
        padding-right: 10px;
    }
    &__history {
        border-left: 1px solid #ffffffff;
        padding-left: 10px;
    }
}